.Container {
  width: 100%;
  // background: #232946;
  display: grid;
  grid-template-areas:
    'aside header header'
    'aside main main'
    'aside main main';
  grid-template-rows: 4rem auto auto;
  grid-template-columns: 4rem calc(100% - 5rem);
  height: 100vh;
  background: #232946;
}
