.Container {
  background-color: #191d35;
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  color: #fffe;
  z-index: 3;
  border-right: 1px solid #fffffe18;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 11px 35px 2px;
  &.AsideLarge {
    align-items: stretch;
    width: 12rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
}
.Burger {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  cursor: pointer;
  border-bottom: 1px solid #fffffe18;

  &:hover {
  }
}

.Tools {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Button {
  width: 100%;
  height: 3rem;
  position: relative;
  z-index: 4;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: #232946;
  }
  &:hover .ButtonTooltip {
    opacity: 1;
    left: 5rem;
  }
  &.Test {
    position: inherit;
    &:hover .ButtonTooltip {
      left: 0;
      transform: none;
    }
  }
}
.ButtonTooltip {
  position: absolute;
  transform: translateX(-0.1rem);
  z-index: -1;
  opacity: 0;
  top: 0.6rem;
  padding: 0.4rem;
  border-radius: 0.4rem;
  background-color: #191d35;
  user-select: none;
  pointer-events: none;
  font-size: 0.8rem;
  width: max-content;
  &.TestTooltip {
    padding: 0;
    position: initial;
    opacity: 1;
    background: transparent;
    transform: none;
  }
}
