.front-body {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include responsive-max(lg) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__container {
    width: 100%;
    margin-top: 1.2rem;

    @include responsive-max(lg) {
      width: 100%;
      margin-left: 4rem;
    }
    @include responsive-max(sm) {
      margin-left: 1rem;
    }

    &__titulo {
      color: #ffff;
      margin-bottom: 1.2rem;
      margin-left: 2rem;
      font-size: 1rem;
    }
    &__contenido {
      display: flex;
      background-color: #232946;
      border-radius: 1rem;
      padding: 2rem;
      margin-left: 2rem;
      margin-bottom: 2rem;
      width: 75%;
      height: 10rem;
      justify-content: space-around;
      align-items: center;
      cursor: pointer;
      &:hover {
        background-color: red;
      }
      @include responsive-max(xl) {
        width: 85%;
      }
      @include responsive-max(lg) {
        width: 90%;
      }
      @include responsive-max(md) {
        display: flex;
        flex-direction: column;
        height: 16rem;
        margin-left: 1.4rem;
      }
      &__img {
        &-img {
          border-color: white;
          height: 6rem;
          color: white;
          width: 80%;

          @include responsive-max(xl) {
            width: 6rem;
            height: 4rem;
          }

          @include responsive-max(md) {
            width: 10rem;
            height: 8rem;
          }
          @include responsive-max(sm) {
            width: 6rem;
            height: 4rem;
          }
        }
      }
      &__text {
        width: 50%;
        @include responsive-max(xl) {
          font-size: 0.8rem;
          margin-left: 1rem;
        }

        @include responsive-max(md) {
          text-align: center;
        }
        @include responsive-max(sm) {
          font-size: 0.8rem;
        }
        &__small {
          color: #d0d6f9;
        }
        &__titulo {
          color: #ffff;
          margin-top: 0.5rem;
          text-transform: uppercase;
        }
        &__contenido {
          margin-top: 0.5rem;
          color: #d0d6f9;
        }
      }
    }
  }
  &__workFinished {
    &__titulo {
      margin-top: 2rem;
      margin-right: 2rem;
      color: #ffff;
      font-size: 0.9rem;
      margin-bottom: 1.2rem;
      @include responsive-max(md) {
        text-align: center;
        margin-left: 7rem;
        text-transform: uppercase;
      }
      @include responsive-max(sm) {
        margin-left: 2rem;
      }
    }
    &__componente {
      background-color: #232946;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-radius: 0.5rem;
      margin-right: 2rem;
      width: 20rem;
      height: 4rem;
      padding: 0.4rem;
      cursor: pointer;
      margin-bottom: 0.5rem;
      @include responsive-max(md) {
        margin-left: 8rem;
      }
      @include responsive-max(sm) {
        margin-left: 2rem;
      }

      &__circulo {
        width: 15px;
        background: red;
        height: 15px;
        border-radius: 50%;
      }
      &__tarea {
        margin-left: 0.4rem;
        &__asignatura {
          color: white;
          font-size: 0.9rem;
          width: 7rem;
        }
        &__fecha {
          color: white;
          font-size: 0.6rem;
        }
      }
      &__icono {
      }
    }
  }
}

//CSS PARA EL DETALLE DE LAS TAREAS.
.body__detalles {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__contenedor {
    background-color: $background;
    width: 35%;
    height: max-content;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 0.8rem;

    @include responsive-max(1600px) {
      width: 40%;
    }

    @include responsive-max(1400px) {
      width: 50%;
    }
    @include responsive-max(xl) {
      width: 60%;
    }
    @include responsive-max(lg) {
      font-size: 0.6rem;
    }
    &__icono {
      text-align: end;
      margin-right: 1.3rem;
      margin-top: 1rem;
      cursor: pointer;
    }
    &__titulo {
      text-align: center;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }
    &__img {
      width: 25rem;
      height: 20rem;
      margin: auto;
      @include responsive-max(lg) {
        width: 20rem;
        height: 15rem;
      }
    }
    &__principal {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-bottom: 1rem;
      @include responsive-max(lg) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &__chores {
        color: black;
        background-color: rgba(241, 236, 236, 0.216);
        width: 60%;
        border-radius: 0.3rem;
        padding: 0.2rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        @include responsive-max(lg) {
          width: 80%;
          font-size: 0.9rem;
        }
        &__label {
          margin-left: 0.5rem;
          color: white;
        }
        &__input {
          background-color: rgb(209, 204, 202);
          margin-right: 1rem;
          padding: 0.3rem;
          border-radius: 0.3rem;
          margin-left: 1rem;
        }
      }
      &__buttons {
        display: flex;
        flex-direction: column;
        @include responsive-max(lg) {
          display: flex;
          flex-direction: row;
          gap: 1rem;
        }
        & button {
          border-radius: 0.6rem;
          padding: 0.6rem;
          color: #ffff;
          cursor: pointer;
          @include responsive-max(lg) {
            width: 9rem;
            font-size: 0.8rem;
            height: 3rem;
            margin-top: 1rem;
          }
        }
        &__editar {
          margin-bottom: 0.5rem;
          background-color: rgb(108, 164, 224);
          &:hover {
            background-color: rgb(53, 133, 220);
          }
        }
        &__eliminar {
          background-color: rgb(216, 103, 103);
          margin-bottom: 0.5rem;
          &:hover {
            background-color: rgb(210, 26, 26);
          }
        }
        &__completada {
          background-color: rgb(96, 151, 96);
          &:hover {
            background-color: rgb(9, 159, 9);
          }
        }
      }
    }
  }
}
