.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}

.grayscale {
  filter: grayscale(1);
  color: $background;
  &:hover {
    filter: grayscale(0.8);
  }
}

.not-pointer {
  cursor: default;
}

//Animation effect glass for cards, buttons, etc...

.as-animation-glass {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    background-color: #ffffff80;
    width: 1rem;
    height: 100%;
    top: 0;
    left: -20%;
    transform: rotate(5deg);
    position: absolute;
    filter: blur(25px);
    transition: left 1s ease-out;
    opacity: 0.6;
  }
  &:hover {
    &::after {
      left: 110%;
    }
  }
}

.capitalize {
  text-transform: capitalize;
}
