@keyframes blinkTextCursor {
  from {
    border-right: 2px solid $stroke;
  }
  to {
    border-right: 2px solid $paragraph;
  }
}

.display {
  // min-height: 110px;
  background-color: $paragraph;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 4px solid $secondary;

  &__paragraph {
    width: 90%;
    margin: 0 auto;
    text-align: end;
    font-weight: bold;
    color: $background;
    font-size: 1.5em;
    padding-top: 3px;
    min-height: 30px;
    padding-bottom: 3px;
    animation: blinkTextCursor 700ms infinite normal;
  }
}
