.display {
  min-height: 110px;
  background-color: $paragraph;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 4px solid $secondary;

  &__paragraph {
    width: 90%;
    margin: 0 auto;
    text-align: end;
    font-weight: bold;
    color: $background;
    font-size: 1.5em;
  }
}
