.notification {
  &__icon {
    @include disflex(row, center, center, 0);
    width: 2rem;
    height: 2rem;
    border-radius: 50vh;
    cursor: pointer;
    &:hover {
      background-color: $stroke;
    }
    svg {
      font-size: $font-size-icons;
    }
  }
  @include responsive-max(md) {
    svg {
      font-size: 1.2rem;
    }
  }
}
