// Profile
.profile {
  position: relative;
  &__img {
    outline: 1px solid #fffffe50;
    width: 2rem;
    height: 2rem;
    border-radius: 50vh;
    cursor: pointer;
    transition: all 0.3s ease-in;
    &.profile__img--on {
      transform: scale(1.05) rotate(360deg);
      outline: 1px solid #191d35;
    }
  }
}

.profile-pop {
  position: absolute;
  right: 0;
  top: 0.5rem;
  background: #191d35;
  width: 12rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.4rem;
  transform: translate(5rem, -3.5rem) scale(0.1);
  transition: all 0.3s ease-in;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  outline: 1px solid #fffffe18;
  &.profile-pop--on {
    pointer-events: all;
    user-select: auto;
    opacity: 1;
    transform: translate(0, 3rem) scale(1);
    z-index: 1;
  }
  &__header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      border-top: 1px solid #232946;
      width: 100%;
      transform: scale(1.2);
      bottom: -0.65rem;
    }
  }
  &__img {
    width: 2rem;
    height: 2rem;
    border-radius: 50vh;
    outline: 1px solid #191d35;
  }
  &__user-info {
    user-select: none;
  }
  &__name {
    font-size: 0.95rem;
  }
  &__user {
    font-size: 0.8rem;
    opacity: 0.8;
  }
  // Profile pop body
  &__body {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.4rem;
    border-radius: 0.4rem;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: #232946;
    }
  }
  // Profile pop footer
  &__footer {
    color: #d15356;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      border-top: 1px solid #232946;
      width: 100%;
      transform: scale(1.2);
      top: -0.65rem;
    }
  }
}
