.searcher {
  display: flex;
  padding-left: 1rem;
  height: 40px;
  border-radius: 10px;
  background: $stroke;
  flex-grow: 1;

  @include responsive(md) {
    flex-grow: 0;
    width: 40%;
  }

  &__input {
    width: 100%;
    color: $paragraph;
    background: inherit;
    outline: none;
    border: none;
    &::placeholder {
      color: inherit;
    }
  }
  &__button {
    margin-right: 10px;
    width: 40px;
    background-color: transparent;
    color: #fff;
    outline: none;
    border: none;
    svg {
      color: $white;
      width: 70%;
      height: 70%;
    }
  }
}
