@use '../utilities/variables';
@use '../base/typography';

.search-form {
  display: flex;
  padding-left: 1rem;
  margin: 20px;
  height: 40px;
  width: 40%;
  border-radius: 10px;
  background: variables.$stroke;
  .search-button {
    margin-right: 10px;
    width: 40px;
    padding: 0;
    background: inherit;
    outline: none;
    border: none;
    svg {
      color: white;
      width: 70%;
      height: 70%;
    }
  }
}
