.home {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
  .card {
    grid-column: 1/6;
    @include responsive(md) {
      grid-column: 1/6;
    }
  }
  .courses {
    grid-row: 2/3;
    grid-column: 1/6;
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 2rem 1rem;
      h1 {
        color: $white;
        font-size: 1.5rem;
      }
    }
    &-container {
      display: grid;
      gap: 2rem;
      width: 100%;
    }
    &__item {
      display: flex;
      width: 100%;
      border-left: 0.7rem solid $highlight;
      .card-over {
        gap: 0.5rem;
        padding-left: 1rem;
        width: 70%;
        text-align: left;
        &__title {
          font-size: 1.5rem;
          padding-bottom: 0.5rem;
        }
        p {
          font-size: 0.9rem;
          font-weight: 300;
        }
      }
      &-controls {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 20%;
        height: 90%;
        .delete-btn {
          background: $background;
          svg {
            color: $white;
            font-size: 1.5rem;
            transition: all 0.2s ease-in-out;
            &:hover {
              transform: scale(1.05);
              color: red;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .home {
    .courses {
      grid-column: 1/6;
      .courses__item {
        flex-direction: row;
      }
    }
  }
}
