.pomodoro {
  width: 90%;
  height: 80vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-content: space-between;
  margin: 0 auto;
  max-width: 520px;
  max-height: 450px;
  position: relative;

  &__pomodoro {
    background-color: $stroke;
    display: grid;
    grid-template-rows: 90% 10%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px $background;
  }

  &__item-config {
    position: absolute;
    right: 2vh;
    top: 2vh;
    cursor: pointer;

    svg {
      fill: $paragraph;
      font-size: 2.2em;
      transition: all 0.4s ease-in-out;
    }
  }

  &__item-config:hover {
    svg {
      fill: $heading;
    }
  }
}
